/*fonts*/

body {
    font-family: 'Poiret One', cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Slabo 27px', serif;
}

/*navigation bar*/

.row {
    max-width: 100%;
}
.menu {
    color: #C6B89E;
    background: #59114D;
}
.menu a {
    color: #c6b89e;
    font-family: 'Slabo 27px', serif;
}
.landing {
    background-image: url(../assets/bag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*sticky nav bar style*/

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    max-width: 100%;
    background: transparent;
}
.cadmus h2 {
    color: #C6B89E;
}
.cadmus p {
    color: #C6B89E;
}
.cadmus {
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 10%;
    margin-top: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    border-spacing: 5%;
    border: 10px solid #fff;
}
::-webkit-resizer {
    display: none;
}
